img{
  height: 200px;
  width: 200px;
  margin-left: 100px;
  display: inline;
}

p{
  font-size: 28px;
  font-family: monospace;
  font-weight: bold;
  margin: 25px;
}

ol{
  font-size: 24px;
  font-family: monospace;
  margin-left: 25px;
}

iframe{
  width: 600px;
  height: 400px;
  margin: 25px;
}

#ReviewBox{
  height: 20px;
  width: 500px;
  margin: 25px;
  padding: 2px;
  text-align: left;
}

#p1{
  margin: 25px;
}

.Reviews{
  font-size: 24px;
  font-family: monospace;

}
